*{margin:0;padding:0;outline:0;font-size:1em;font-weight:normal;font-style:normal;border:0;text-decoration:none;list-style-type:none}
* {
    box-sizing: border-box;
}

header {
    background-color: black;
    color: red;
    border-bottom: 5px solid grey;
    padding: 40px;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}
nav {
    display: flex;
    background-color: teal;
    justify-content: right;
}

nav a {
    color: red;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

a {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

p{
    font-size: 13px;
}

#profile {
    width: 85px;
    height: 100px;
}

img {
    width: 100%;
    height: auto;
}

.work {
    display: flex;
    flex: wrap;
    justify-content: right;
}

aside {
    background-color: purple;
    flex: 1;
    text-align: center;
}

.container {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    text-align: center;
}

.container figure {
  flex: 4;
   border: 1px solid #444;
   padding: 10px;
}
.container figure.first {
    flex: 0 0 100%;
    border: 1px solid #444;
    padding: 20px;
}